/* ******************* */
/*      CARD GRID      */
/* ******************* */

#card-grid {
  padding: 4rem var(--page-padding-mobile) 5rem;
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  --max-card-width: clamp(15rem, 40vw, 20rem);

  h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--max-card-width), 1fr));
    justify-items: center;
    gap: 2rem;
    margin: 0 auto;
  }

  .card {
    width: 100%;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: var(--card-shadow);
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .gradient-bg {
    background: var(--gradient-pink);
    h3 {
      color: var(--body-text-color-light);
    }
  }

  img {
    width: 15%;
  }

  a {
    color: var(--accent-color);
  }
}

@media only screen and (min-width: 64rem) {
  #card-grid {
    --max-card-width: 16rem;
    img {
      width: 20%;
    }
  }
}

/* ******************* */
/*    IMAGE GALLERY    */
/* ******************* */

#image-gallery {
  padding: 2rem var(--page-padding) 4rem;
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .image {
    height: auto;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 0.25rem;
    /* border: 2px solid var(--accent-color); */
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .two-col {
    grid-column: span 2;
    grid-row: 2;
  }

  .three-row {
    display: none;
  }

  img {
    border-radius: inherit;
  }

  .attribution {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1.5% 3%;
    font-size: 0.7rem;
    text-align: start;
    color: var(--body-text-color-light);
    background-color: rgba(0, 0, 0, 0.2);
    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}

@media only screen and (min-width: 48rem) {
  #image-gallery {
    .gallery {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }

    .three-row {
      display: block;
      grid-row: 1 / span 3;
      /* to align it to the right */
      grid-column: 3;
      /* to align it to the left */
      /* grid-column: 1; */
    }
  }
}

@media only screen and (min-width: 64rem) {
  #image-gallery {
    .gallery {
      row-gap: 1.5rem;
    }
  }
}
