:root {
  --page-padding: clamp(1.25rem, 5.5vw, 5rem);
  --section-max-width: 70rem;

  --primary-color: #13183f;
  --primary-color-light: #666ca3;

  --accent-color: #f74780;
  --accent-color-light: #ffa7c3;

  --header-text-color: var(--primary-color);
  --header-text-color-light: #ffffff;

  --body-text-color: #83869a;
  --body-text-color-light: #ffffff;

  --gradient-pink: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  --gradient-purple: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);

  --card-shadow: box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
}

/* ******************* */
/*        RESETS       */
/* ******************* */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* ******************* */
/*      COMPONENTS     */
/* ******************* */

.button-solid {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--body-text-color-light);
  padding: 1rem 2rem;
  border-radius: 28px;
  font-size: 1rem;
  font-weight: bold;
}

.button-solid:hover {
  opacity: 0.9;
}

@media only screen and (min-width: 48rem) {
  .button-solid {
    padding: 0.75rem 1.5rem;
  }
}
/* ******************* */
/*    GLOBAL STYLING   */
/* ******************* */

header,
main,
footer {
  .container {
    max-width: var(--section-max-width);
    margin: 0 auto;
  }
}

header,
footer,
section {
  padding: 0 var(--page-padding);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header-text-color);
}

p,
a {
  color: var(--body-text-color);
}

.logo-container a {
  display: block;
  height: 1.25rem;
  width: 79.29px;

  img {
    width: 100%;
  }
}

@media only screen and (min-width: 64rem) {
  .logo-container a {
    height: 1.75rem;
    width: 111px;
  }
}
/* ******************* */
/*         FONTS       */
/* ******************* */
/* plus-jakarta-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/plus-jakarta-sans-v11-latin-500.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/plus-jakarta-sans-v11-latin-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/plus-jakarta-sans-v11-latin-800.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ******************* */
/*      TYPOGRAPHY     */
/* ******************* */
.textpreset1 {
  font-size: 40px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 900;
  line-height: 120%;
}

.textpreset2 {
  font-size: 32px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 900;
  line-height: 120%;
}

.textpreset3 {
  font-size: 24px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 900;
  line-height: 120%;
}

.textpreset4 {
  font-size: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 900;
  line-height: 120%;
}

.textpreset5 {
  font-size: 18px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  line-height: 150%;
}

.textpreset6 {
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  line-height: 150%;
}

.textpreset7 {
  font-size: 18px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  line-height: 150%;
}

@media only screen and (min-width: 64rem) {
  .textpreset1 {
    font-size: 56px;
  }

  .textpreset2 {
    font-size: 40px;
  }

  .textpreset3 {
    font-size: 32px;
  }
  .textpreset4 {
    font-size: 24px;
  }

  .textpreset6 {
    font-size: 16px;
    line-height: 150%;
  }
}

/* ******************* */
/*       HEADER        */
/* ******************* */
header {
  .container {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}

@media only screen and (min-width: 48rem) {
  header {
    padding: 0 calc(var(--page-padding) + 1.76px);
    z-index:1;
    .container {
      padding: 1.5rem 0;
    }
  }
}

@media only screen and (min-width: 64rem) {
  header {
    padding: 0 calc(var(--page-padding) + 0.8px);
  }
}

/* ******************* */
/*         HERO        */
/* ******************* */

#hero {
  text-align: start;
  padding: 4rem calc(var(--page-padding) - 0.625px);

  .container,
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
  }

  p {
    width: 100%;
    max-width: clamp(45ch, 1rem + 60vw, 66ch);
    margin-bottom: calc(40px - 1.5rem);
  }

  a.button-solid {
    background: var(--gradient-pink);
  }
}

/* Tablet */
@media only screen and (min-width: 48rem) {
  #hero {
    padding: 4rem calc(var(--page-padding) + 1.76px);
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }
}

@media only screen and (min-width: 48rem) and (max-width: 1023.5px) {
  #hero {	  
    picture {
	    position: fixed;
     top: 0; 
     right: -15%;
    }
  }
}

/* Desktop */
@media only screen and (min-width: 64rem) {
  #hero {
    padding-left: calc(var(--page-padding) + 0.8px);
    padding-right: calc(var(--page-padding) + 0.8px);
    .container {
      gap: 2rem;
    }

    p {
      max-width: 35ch;
    }
  }
}

/* ******************* */
/*       FOOTER        */
/* ******************* */

footer {
  padding: 1.5rem var(--page-padding);
  background-color: var(--primary-color);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a.button-solid {
    padding: 0.75rem 1.5rem;
    background: var(--gradient-purple);
  }
}

/* TABLET */
@media only screen and (min-width: 48rem) {
  footer {
    padding: 1.5rem calc(var(--page-padding) + 1.76px);
  }
}

/* DESKTOP */
@media only screen and (min-width: 64rem) {
  footer {
    padding-left: calc(var(--page-padding) + 0.69px);
    padding-right: calc(var(--page-padding) + 0.69px);
  }
}
